/*For navigation bar*/

nav{
	height: 60px;
	background-color:#393e46 !important; /*navy blue*/
	position:  sticky;
}

nav img{
	width: 45px;
	height: 45px;
	float: left;
}

nav h2{
	font-family: Gotham;
	color: #00adb5;
	float: top;
	padding-top: 15px;
	margin: 0;
    padding: 0;
    position: relative;
}
nav h3{
	font-family: Gotham;
	color: #e7d00c;
	float:  bottom;
	margin: 0;
    padding: 0;
    position: relative;
}

.nav-buttons{
	font-family: Helvetica;
	font-weight: bold;
	color:  #e7d00c;
	float:  right;
	right:  10%;
    padding: 10px;
}

.nav-buttons:hover{
	color: #00adb5;
}

.navbar-nav {
	float:  right !important;
	right:  10%;
}